<footer class="c-footer o-wrapper" role="contentinfo">
	<img class="c-footer__logo" src="{{asset 'footer-logo.svg' }}">
	<div class="o-row">
		<nav class="c-footer__navigation" role="navigation" aria-label="Secondary Menu">
			<ul class="c-footer__navigation__list o-columns">
				<li class="c-footer__navigation__list-item o-columns__item"> <a class="c-footer__navigation__link" href="https://www.hype.it/chiedi-una-mano">Assistenza</a></li>
				<li class="c-footer__navigation__list-item o-columns__item"> <a class="c-footer__navigation__link" href="https://www.hype.it/promozioni">Promozioni</a></li>
				<li class="c-footer__navigation__list-item o-columns__item"> <a class="c-footer__navigation__link" href="https://www.hype.it/banca-sella">Banca Sella</a></li>
				<li class="c-footer__navigation__list-item o-columns__item"> <a class="c-footer__navigation__link" href="https://www.hype.it/fogli-informativi">Fogli Informativi</a></li>
				<li class="c-footer__navigation__list-item o-columns__item"> <a class="c-footer__navigation__link" href="https://support.hype.it/hc/it">FAQ</a></li>
				<li class="c-footer__navigation__list-item o-columns__item"> <a class="c-footer__navigation__link" href="http://blog.hype.it/">Blog</a></li>
				<li class="c-footer__navigation__list-item o-columns__item"> <a class="c-footer__navigation__link" href="https://www.hype.it/idea">Idea</a></li>
				<li class="c-footer__navigation__list-item o-columns__item"> <a class="c-footer__navigation__link" href="https://www.hype.it/hypewallet/">Hype Wallet</a></li>
				<li class="c-footer__navigation__list-item o-columns__item"> <a class="c-footer__navigation__link" href="https://www.hype.it/press-kit">Press Kit</a></li>
				<li class="c-footer__navigation__list-item o-columns__item"> <a class="c-footer__navigation__link" href="https://www.hype.it/privacy">Privacy</a></li>
			</ul>
		</nav>
		<div class="c-help-block"> <img src="{{asset 'info.svg' }}" class="c-help-block__image">
			<div class="c-help-block__text">
				<h4 class="c-help-block__text-title">Bisogno di aiuto?</h4>
				<p class="c-help-block__text-paragraph">Siamo sempre a tua disposizione.</p>
				<a href="#" class="e-button e-button--small js-chatbot">Contattaci</a></div>
		</div>
		<div class="c-footer__miglior-prepagata">
			<img src="{{asset 'miglior_prepagata.svg' }}">
			<div class="c-footer__featured">
				<img class="c-footer__featured-img" src="{{asset 'lega-nerd.svg' }}">
				<img class="c-footer__featured-img" src="{{asset 'wired.svg' }}">
				<img class="c-footer__featured-img" src="{{asset 'sole-24.svg' }}">
				<img class="c-footer__featured-img" src="{{asset 'repubblica.svg' }}">
			</div>
		</div>
	</div>
	<div class="o-row">
	<ul class="c-footer__social">
		<a href="https://facebook.com/HYPE.MoneyIsJustaTool" target="_blank">
			<li class="c-footer__social-facebook"></li>
		</a>
		<a href="https://twitter.com/hype_tw" target="_blank">
			<li class="c-footer__social-twitter"></li>
		</a>
		<a href="https://instagram.com/hypeapp" target="_blank">
			<li class="c-footer__social-instagram"></li>
		</a>
	</ul>
	</div>
	<div class="o-row">
		<p class="c-footer__copyright"> Messaggio pubblicitario con finalità promozionale. Per tutte le condizioni contrattuali leggere attentamente il foglio informativo disponibile su questo sito internet.<br>© 2007- 2019 - Axerve S.p.A. - Piazza Gaudenzio Sella, 1 - 13900 - Biella - C.F. 02027040027 - Capitale Sociale € 2.040.566,00 i.v.<br />società appartenente al Gruppo IVA Maurizio Sella S.a.a. con P.I. 02675650028</p>
	</div>
</footer>
