{{!-- <footer class="footer">
	<div class="footer-inner">
		{{#link 'help_center'}}{{help_center.name}}{{/link}}

		<div class="footer-language-selector">
			{{#if alternative_locales}}
				<div class="dropdown language-selector" aria-haspopup="true">
					<a class="dropdown-toggle">
						{{current_locale.name}}
					</a>
					<span class="dropdown-menu dropdown-menu-end" role="menu">
						{{#each alternative_locales}}
							<a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
								{{name}}
							</a>
						{{/each}}
					</span>
				</div>
			{{/if}}
		</div>
	</div>
</footer> --}}

<footer class="c-footer o-wrapper" role="contentinfo"> <img class="c-footer__logo" src="https://www.hype.it/assets/images/footer-logo.svg">
	<nav class="c-footer__navigation" role="navigation" aria-label="Secondary Menu">
		<ul class="c-footer__navigation__list">
			<li class="c-footer__navigation__list-item"> <a class="c-footer__navigation__link" href="/chiedi-una-mano">Assistenza</a></li>
			<li class="c-footer__navigation__list-item"> <a class="c-footer__navigation__link" href="/costi">Costi</a></li>
			<li class="c-footer__navigation__list-item"> <a class="c-footer__navigation__link" href="/fogli-informativi">Fogli Informativi</a></li>
			<li class="c-footer__navigation__list-item"> <a class="c-footer__navigation__link" href="/faq">FAQ</a></li>
			<li class="c-footer__navigation__list-item"> <a class="c-footer__navigation__link" href="/idea">Idea</a></li>
			<li class="c-footer__navigation__list-item"> <a class="c-footer__navigation__link" href="/press-kit">Press Kit</a></li>
			<li class="c-footer__navigation__list-item"> <a class="c-footer__navigation__link" href="/privacy">Privacy Policy</a></li>
			<li class="c-footer__navigation__list-item"> <a class="c-footer__navigation__link" href="/promozioni">Promozioni</a></li>
			<li class="c-footer__navigation__list-item"> <a class="c-footer__navigation__link" href="/banca-sella">Banca Sella</a></li>
			<li class="c-footer__navigation__list-item"> <a class="c-footer__navigation__link" href="/limiti-di-utilizzo">Limiti di utilizzo</a></li>
			<li class="c-footer__navigation__list-item"> <a class="c-footer__navigation__link" href="http://blog.hype.it/" target="_blank">Blog</a></li>
			<li class="c-footer__navigation__list-item"> <a class="c-footer__navigation__link" href="/hypewallet/" target="_blank">Hype Wallet</a></li>
			<li class="c-footer__navigation__list-item"> <a class="c-footer__navigation__link" href="https://business.hype.it/site/" target="_blank">Business</a></li>
		</ul>
	</nav>
	<div class="c-help-block"> <img src="https://www.hype.it/assets/images/info.svg" class="c-help-block__image">
		<div class="c-help-block__text">
			<h4 class="c-help-block__text-title">Bisogno di aiuto?</h4>
			<p class="c-help-block__text-paragraph">Siamo sempre a tua disposizione.</p> <a href="#" class="e-button e-button--small js-chatbot">Contattaci</a></div>
	</div>
	<div class="c-footer__miglior-prepagata">
		<img src="https://www.hype.it/assets/images/miglior_prepagata.svg">
		<div class="c-footer__featured">
			<img class="c-footer__featured-img" src="https://www.hype.it/assets/images/lega-nerd.svg">
			<img class="c-footer__featured-img" src="https://www.hype.it/assets/images/wired.svg">
			<img class="c-footer__featured-img" src="https://www.hype.it/assets/images/sole-24.svg">
			<img class="c-footer__featured-img" src="https://www.hype.it/assets/images/repubblica.svg">
		</div>
	</div>
	<ul class="c-footer__social">
		<a href="https://facebook.com/HYPE.MoneyIsJustaTool" target="_blank">
			<li class="c-footer__social-facebook"></li>
		</a>
		<a href="https://twitter.com/hype_tw" target="_blank">
			<li class="c-footer__social-twitter"></li>
		</a>
		<a href="https://instagram.com/hypeapp" target="_blank">
			<li class="c-footer__social-instagram"></li>
		</a>
	</ul>
	<p class="c-footer__copyright"> Messaggio pubblicitario con finalità promozionale. Per tutte le condizioni contrattuali leggere attentamente il foglio informativo disponibile su questo sito internet. <br> © 2007 - 2018 Easy Nolo S.p.A. - Gruppo Banca Sella - Piazza Gaudenzio Sella,
		1 - 13900 - Biella - P.I. 02027040027</p>
</footer>
