{{!-- <header class="header">
	<div class="logo">
		{{#link 'help_center'}}
			<img src="{{logo_url}}" alt="{{t 'logo'}}">
		{{/link}}
	</div>

	<div class="nav-wrapper">
		<span class="icon-menu"></span>
		<nav class="user-nav" id="user-nav">
			{{link 'community'}}
			{{link 'new_request' class='submit-a-request'}}
		</nav>
		{{user_info}}
	</div>
</header> --}}

<header class="c-header" role="banner" id="js-fixedNav">
    <div class="c-header__wrapper c-header__wrapper--full">

				{{#link 'help_center' class='c-logo'}}
					HYPE
				{{/link}}

			<nav class="c-main-navigation" role="navigation" aria-label="Main Menu">
				<ul class="c-main-navigation__list">
					<li class="c-main-navigation__list-item">
						<a class="c-main-navigation__link" href="/funzionalita">Funzionalità</a>
					</li>
					<li class="c-main-navigation__list-item">
						<a class="c-main-navigation__link" href="/hypeplus">HYPE Plus</a>
					</li>
					<li class="c-main-navigation__list-item">
						<a class="c-main-navigation__link" href="/landing-apple-pay">Apple Pay</a>
					</li>
					<li class="c-main-navigation__list-item">
						<a class="c-main-navigation__link" href="/offerta">Piani</a>
					</li>
					<li class="c-main-navigation__list-item c-main-navigation__list-item--right">

					</li>
				</ul>
			</nav>
        <!-- {% include language-switcher.html %} -->
        <a class="e-button" href="../signup">REGISTRATI</a>
    </div>
</header>
<div class="c-mobile-navigation c-mobile-navigation--closed" id="js-mobileMenu">
  {{#link 'help_center' class='c-logo'}}
    HYPE
  {{/link}}
  <a class="e-button" href="../signup">REGISTRATI</a>
  <a href="#" class="c-mobile-navigation__burger" id="js-mobileMenu__button">MENU</a>

  <ul class="c-mobile-navigation__list">
    <li class="c-mobile-navigation__list-item c-mobile-navigation__list-item--active">Home</li>
    <li class="c-mobile-navigation__list-item">
      <a class="c-mobile-navigation__link" href="/funzionalita">Funzionalità</a>
    </li>
    <li class="c-mobile-navigation__list-item">
      <a class="c-mobile-navigation__link" href="/hypeplus">HYPE Plus</a>
    </li>
    <li class="c-mobile-navigation__list-item">
      <a class="c-mobile-navigation__link" href="/landing-apple-pay">Apple Pay</a>
    </li>
    <li class="c-mobile-navigation__list-item">
      <a class="c-mobile-navigation__link" href="/offerta">Piani</a>
    </li>
    <li class="c-mobile-navigation__list-help">

    </li>
    <li class="c-mobile-navigation__list-item">
      <a href="../signup" class="e-button c-mobile-navigation__signup">Registrati</a>
    </li>
  </ul>
</div>

<script>
// Burger menu
var createBurger = function () {

  var navigation = document.getElementById('js-mobileMenu');
  var burger = document.getElementById('js-mobileMenu__button');
  var featuresNavigationBar = document.getElementById('js-featuresNavigation');
  var closeText = 'CHIUDI';

  if (!navigation || !burger) return;

  if (window.location.href.split('/').indexOf('en') >= 0) {
    closeText = 'CLOSE';
  }

  burger.onclick = function (e) {
    console.log('Burger')
    e.preventDefault();
    if (navigation.classList.contains('c-mobile-navigation--closed')) {
      navigation.classList.remove('c-mobile-navigation--closed');
      navigation.classList.add('c-mobile-navigation--open');
      if (!!featuresNavigationBar) {
        featuresNavigationBar.classList.add('c-features-navigation--hidden');
      }
      burger.innerHTML = closeText;
    } else {
      navigation.classList.remove('c-mobile-navigation--open');
      navigation.classList.add('c-mobile-navigation--closed');
      if (!!featuresNavigationBar) {
        featuresNavigationBar.classList.remove('c-features-navigation--hidden');
      }
      burger.innerHTML = 'MENU';
    }
  };
};

$(document).ready(function() {
  createBurger();
});
</script>
