<section class="section">
	<div class="hero c-hero">
		<div class="o-wrapper">
			<h1>Ciao! Hai bisogno di aiuto?</h1>
			{{search submit=false instant=true class='search search-full c-form c-form__hero-search'}}
			<div class="quick-search t-40-top-margin">
	      <a @click="onQuickSearchClick" href="#" class="e-button e-button--small">Purchase</a>
	      <a @click="onQuickSearchClick" href="#" class="e-button e-button--small">Installation</a>
	      <a @click="onQuickSearchClick" href="#" class="e-button e-button--small">Customization</a>
				<a @click="onQuickSearchClick" href="#" class="e-button e-button--small">Purchase</a>
	    </div>
		</div>
		<div class="c-ill-window">
			<div class="c-ill-window__wrapper">
				<div class="c-ill-window__item">
					<img src="http://localhost:4567/assets/images/window-left.svg" />
				</div>
				<div class="c-ill-window__item">
					<img src="http://localhost:4567/assets/images/window-center.svg" />
				</div>
				<div class="c-ill-window__item">
					<img src="http://localhost:4567/assets/images/window-right.svg" />
				</div>
			</div>
		</div>
	</div>

	<div class="c-new-features">
		<div class="o-wrapper">
			<p>
				<span class="c-new-features__title">New Features!</span>
				Scopri come funziona Credit Boost, il tuo credito personale sempre disponibile!
			</p>
		</div>
	</div>
</section>

<section class="section">
	<div class="o-wrapper">
		<section class="section knowledge-base">
			<h2 class="c-section-title">Benvenuto!</h2>
				<section class="c-block-list-with-icons">
					<ul class="c-block-list-with-icons__list c-block-list-with-icons__list--overflow c-block-list-with-icons__list--three clearfix">
						{{#each categories}}
							{{#is name 'Generale'}}
								{{#each sections}}
									<li class="c-block-list-with-icons__list-item c-block-list-with-icons__list-item--no-border">
										<a href='{{url}}'>
											{{#is name 'Getting Started'}}<div class="icon hype-icon-start"></div>{{/is}}
											{{#is name 'Il mio account'}}<div class="icon hype-icon-account"></div>{{/is}}
											{{#is name 'Sicurezza'}}<div class="icon hype-icon-lock"></div>{{/is}}
											<h3 class="c-block-list-with-icons__title">
												{{name}} <span>({{article_count}})</span>
												{{#if internal}}
													<span class="icon-lock" title="{{t 'internal'}}"></span>
												{{/if}}
											</h3>
										</a>
										<p class="c-block-list-with-icons__text t-align-left">{{excerpt description}}</p>
										<div class="c-block-list-with-icons__link t-align-left">
											{{#each articles}}
												<a href='{{url}}'>{{title}}</a>
											{{/each}}
										</div>
										<div class="c-block-list-with-icons__link--more t-align-right">
											<a href='{{url}}'>Vedi tutti</a>
										</div>
									</li>
								{{/each}}
							{{/is}}
						{{/each}}
					</ul>
				</section>
			</section>
			<section class="section knowledge-base">
				<h2 class="c-section-title">Inizia a usare HYPE</h2>
					<section class="c-block-list-with-icons">
						<ul class="c-block-list-with-icons__list c-block-list-with-icons__list--overflow c-block-list-with-icons__list--three clearfix">
							{{#each categories}}
								{{#is name 'Usare Hype'}}
									{{#each sections}}
										<li class="c-block-list-with-icons__list-item c-block-list-with-icons__list-item--no-border">
											<a href='{{url}}'>
												{{#is name 'Getting Started'}}<div class="icon hype-icon-start"></div>{{/is}}
												{{#is name 'Il mio account'}}<div class="icon hype-icon-account"></div>{{/is}}
												{{#is name 'Sicurezza'}}<div class="icon hype-icon-lock"></div>{{/is}}
												{{#is name 'La Carta'}}<div class="icon hype-icon-card"></div>{{/is}}
												{{#is name 'Pagamenti'}}<div class="icon hype-icon-pagamento"></div>{{/is}}
												{{#is name 'Movimenti'}}<div class="icon hype-icon-movimenti"></div>{{/is}}
												{{#is name 'Obiettivi'}}<div class="icon hype-icon-obiettivi"></div>{{/is}}
												{{#is name 'Offerte'}}<div class="icon hype-icon-offerte"></div>{{/is}}
												{{#is name 'Ricarica'}}<div class="icon hype-icon-ricarica"></div>{{/is}}
												<h3 class="c-block-list-with-icons__title">
													{{name}} <span>({{article_count}})</span>
													{{#if internal}}
														<span class="icon-lock" title="{{t 'internal'}}"></span>
													{{/if}}
												</h3>
											</a>
											<p class="c-block-list-with-icons__text t-align-left">{{excerpt description}}</p>
											<div class="c-block-list-with-icons__link t-align-left">
												{{#each articles}}
													<a href='{{url}}'>{{title}}</a>
												{{/each}}
											</div>
											<div class="c-block-list-with-icons__link--more t-align-right">
												<a href='{{url}}'>Vedi tutti</a>
											</div>
										</li>
									{{/each}}
								{{/is}}
							{{/each}}
						</ul>
					</section>
				</section>



	</div>
	<section class="section c-recent-articles">
		<div class="o-wrapper clearfix">
			<div class="c-recent-articles__articles">
				{{recent_articles}}
			</div>
			<div class="c-recent-articles__articles">
				<h3>Ultimo video caricato</h3>
				{{#each categories}}
					{{#is name 'Generale'}}
						{{#each sections}}
							{{#each articles}}
								{{#if @first}}{{title}}{{/if}}
							{{/each}}
						{{/each}}
					{{/is}}
				{{/each}}
			</div>
		</div>

	</section>
</section>
