<section class="section">
	<div class="hero c-hero c-hero-internal">
		<div class="o-wrapper">
			<div class="c-hero__breadcrumbs">
				<nav class="sub-nav">
					<ol class="breadcrumbs">
						<li title="Hype">
							<a href="/hc/it">Home</a>
						</li>
						<li>
							{{t 'submit_a_request'}}
						</li>

					</ol>
				</nav>

			</div>
			<div class="c-hero__search">
				{{search submit=false instant=true class='search search-full c-form c-form__hero-search'}}
			</div>

		</div>
	</div>

</section>

<div class="container-divider"></div>
<div class="o-wrapper">

	<div class="article-container" id="article-container">
		<section class="article-sidebar">
			<header class="">
				<h1 class="article-title">
		  		{{t 'submit_a_request'}}
				  {{#if parent}}
				    <span class="follow-up-hint">
				      {{follow_up}}
				    </span>
				  {{/if}}
				</h1>
			</header>
			<p class="page-header-description">
				{{dc 'invia_richiesta'}}
			</p>
			<img src="{{asset 'window-center.svg'}}" width="200">
		</section>

		<article class="form">
			{{request_form}}
			<p style="line-height: 1.3;">
				<i>
					<small>
						{{dc 'privacy_richiesta'}}
					</small>
				</i>
			</p>
		</article>
	</div>
</div>
