<section class="section">
	<div class="hero c-hero c-hero-internal">
		<div class="o-wrapper">
			<div class="c-hero__breadcrumbs">
				<nav class="sub-nav">
					<ol class="breadcrumbs">
  					<li title="Hype">
        			<a href="/hc/it">Home</a>
						</li>
	  				<li title="Risultati ricerca">
      				Risultati ricerca
    				</li>
					</ol>
				</nav>
			</div>
			<div class="c-hero__search">
				{{search submit=false instant=true class='search search-full c-form c-form__hero-search'}}
			</div>

		</div>
	</div>

</section>

<div class="container-divider"></div>

<div class="o-wrapper">

	<div class="article-container" id="article-container">
		<section class="article-sidebar">
			<section class="section-articles collapsible-sidebar">
				<h3 class="collapsible-sidebar-title sidenav-title sidenav-title--light">Categorie</h3>
				<ul id="foo" class="e-list">

				</ul>

			</section>

		</section>

	<article class="article">
		<header class="page-header">
			<h1>{{t 'search_results'}}<span>({{results_count}})</span></h1>
		</header>
		<div class="search-results">
			<section class="">
				{{#if article_results}}
					<ul class="search-results-list">
						{{#each article_results}}
							<li class="search-result">
								<a href="{{url}}" class="search-result-link">{{title}}</a>
								{{#if vote_sum}}
									<span class="search-result-votes meta-count">{{vote_sum}}</span>
								{{/if}}
								<ul class="meta-group">
									<li>
										<ol class="breadcrumbs search-result-breadcrumbs">

											{{#each path_steps}}
												<li title="{{name}}"><a href="{{url}}">{{name}}</a></li>
											{{/each}}
										</ol>
									</li>
								</ul>
								<div class="search-result-description">{{text}}</div>
							</li>
						{{/each}}
					</ul>
				{{else}}
					<p>
						{{t 'no_results' query=query}}
						{{#link 'help_center'}}
							{{t 'browse_knowledge_base'}}
						{{/link}}
					</p>
				{{/if}}
			</section>

		</div>

		{{pagination}}
	</article>



</div>

<script>
var data = null;

var xhr = new XMLHttpRequest();
xhr.withCredentials = true;

xhr.addEventListener("readystatechange", function () {
	if (this.readyState === 4) {

		var respObj = JSON.parse(this.responseText);

		respObj.categories.forEach(function(c){
			$('#foo').append('<li><a href="' + c.html_url + '" class="sidenav-item ">' + c.name + '</a></li>')
			c.name
		})

	}
});

xhr.open("GET", "https://hype.zendesk.com/api/v2/help_center/it/categories.json");

xhr.send(data);
</script>

</div>
