<section class="section">
	<div class="hero c-hero c-hero-internal">
		<div class="o-wrapper">
			<div class="c-hero__breadcrumbs">
				<nav class="sub-nav">
					<ol class="breadcrumbs">
  					<li title="Hype">
        			<a href="/hc/it">Home</a>
						</li>
	  				<li title="{{section.name}}">
      				<a href="{{section.url}}">{{section.name}}</a>
    				</li>
					</ol>
				</nav>
			</div>
			<div class="c-hero__search">
				{{search submit=false instant=true class='search search-full c-form c-form__hero-search'}}
			</div>

		</div>
	</div>

</section>

<div class="container-divider"></div>
<div class="o-wrapper">

	<div class="article-container" id="article-container">
		<section class="article-sidebar">
			<section class="section-articles collapsible-sidebar">
				<h3 class="collapsible-sidebar-title sidenav-title">{{section.name}}</h3>
				<ul class="e-list">
					{{#each section.articles}}
						<li>
							<a href="{{url}}" class="sidenav-item ">{{title}}</a>
						</li>
					{{/each}}
				</ul>
				{{#if section.more_articles}}
					<a href="{{section.url}}" class="article-sidebar-item">{{t 'see_more'}}</a>
				{{/if}}
			</section>

			{{!-- {{#each categories}}
			{{#each sections}}
			<section class="section-articles collapsible-sidebar">
				<h3 class="collapsible-sidebar-title sidenav-title">{{section.name}}</h3>
				<ul class="e-list">
					{{#each section.articles}}
						<li>
							<a href="{{url}}" class="sidenav-item ">{{title}}</a>
						</li>
					{{/each}}
				</ul>
				{{#if section.more_articles}}
					<a href="{{section.url}}" class="article-sidebar-item">{{t 'see_more'}}</a>
				{{/if}}
			</section>
			{{/each}}
			{{/each}} --}}

		</section>

		<article class="article">
			<header class="article-header">
				<h1 title="{{section.name}}" class="article-title">
					{{section.name}}
					{{#if section.internal}}
						<span class="icon-lock" title="{{t 'internal'}}"></span>
					{{/if}}
				</h1>
				{{#if section.description}}
					<p class="page-header-description">{{section.description}}</p>
				{{/if}}
			</header>


			{{#if section.articles}}
			<section>
				<h2 class="article-list-title">Scopri di più:</h2>
					<ul class="article-list o-columns">
						{{#each section.articles}}
							<li class="article-list-item o-columns__item {{#if promoted}} article-promoted{{/if}}">
								<div class="article-list-wrapper">
									{{#if promoted}}
										<span data-title="{{t 'promoted'}}" class="icon-star"></span>
									{{/if}}
									<a href="{{url}}" class="article-list-link">{{title}}</a>
									<p>
										{{excerpt body}}
									</p>
									<a href="{{url}}" class="article-list-other">... altro</a>
								</div>
							</li>
						{{/each}}
					</ul>
				{{else}}
					<i class="section-empty">
						<a href="{{section.url}}">{{t 'empty'}}</a>
					</i>
				</section>
				{{/if}}




			{{pagination}}


		</article>
	</div>
</div>
